:root {
    --orange: #fcba03;
--green: #1eff7a;
--blue: #1ea3ff;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Assets/images/liyue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    padding: 20px 40px;
    margin:3%;
    font-size: xx-large;
}

h1 {
}

main {
    border: 8px solid var(--orange);
    color: var(--purple);
    background-color: rgb(30,163,255,0.6);
    padding: 10px 50px;
}