:root {
    --orange: #fcba03;
--green: #1eff7a;
--blue: #1ea3ff;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Assets/images/liyue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    padding: 20px 40px;
    margin:3%;
    font-size: x-large;
}

main {
    text-align: center;
    border: 8px solid var(--orange);
    background-color: rgb(30,163,255,0.6);
    padding: 10px 50px;
    width:90%;
}

#rePlay {
    background-image: linear-gradient(to right,#1eff7a 0%, #8fd3f4 50%, #1eff7a 100%);
    width: 100px;
    height: 50px;
    border-radius: 20%;
    transition: 0.5s;

}

#rePlay:hover {
    border: 4px solid black;
    box-shadow: 0px 0px 10px 5px lightgreen;
    /* background-position: right center; */
    background-image: linear-gradient(to bottom right,#1eff7a, #8fd3f4 50%, #1eff7a);